{"changed":false,"filter":false,"title":"Requirements.txt","tooltip":"/Requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":9,"column":20},"action":"insert","lines":["Flask == 0.10.1","PyMySQL ==0.6.7","Flask-SQLAlchemy==2.1","Flask-Script==2.0.5","Flask-WTF==0.12","Flask-Migrate==1.6.0","py-bcrypt==0.4","python-slugify==1.1.4","Flask-Markdown==0.3","Flask-Uploads==0.2.0"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":21},"end":{"row":7,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493849439572}