{"filter":false,"title":"Requirements.txt","tooltip":"/Stats/Requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493849439764,"hash":"fb67e25c467bab13923a14061ef2bc5999432160"}